
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bảng so sánh BigchainDB -->
<section class="best-features-area">
    <div class="container">
        <div class="col-lg-12 table-responsive" style="top: 100px;">
            <div class="col-12">
                <div class="section-tittle">
                    <h2 style="text-align: center;">Những nơi đã áp dụng</h2>
                </div>
                <div>
                    <div class="section-tittle">
                        <h3 style="text-align: center;">Trường Đại học Đà Lạt</h3>
                    </div>
                    @foreach (var item in ViewBag.dhdl)
                    {
                        if (@item.imgQR == null)
                        {
                            <div class="row" style="margin-bottom:10px">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <h4>Hình ảnh</h4>
                                    <img style="width:80%" src="@item.imgPath" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <h4>@item.nameProduct</h4>
                                    <p>
                                        @item.details
                                    </p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row" style="margin-bottom:10px">
                                <div class="col-lg-5 col-md-4 col-sm-12">
                                    <h4>Hình ảnh</h4>
                                    <img style="width:80%" src="@item.imgPath" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <h4>@item.nameProduct</h4>
                                    <p>
                                        @item.details
                                    </p>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <h4>Quét mã</h4>
                                    <img style="width:80%" src="\imgQR\test\NAMDONGCO01.png" />
                                </div>
                            </div>
                        }

                    }
                </div>
                <div>
                    <div class="section-tittle">
                        <h3 style="text-align: center;">Công ty L'ang Farm</h3>
                    </div>
                    @foreach (var item in ViewBag.langfarm)
                    {
                        if (@item.imgQR == null)
                        {
                            <div class="row" style="margin-bottom:10px">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <h4>Hình ảnh</h4>
                                    <img style="width:80%" src="@item.imgPath" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <h4>@item.nameProduct</h4>
                                    <p>
                                        @item.details
                                    </p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row" style="margin-bottom:10px">
                                <div class="col-lg-5 col-md-4 col-sm-12">
                                    <h4>Hình ảnh</h4>
                                    <img style="width:80%" src="@item.imgPath" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <h4>@item.nameProduct</h4>
                                    <p>
                                        @item.details
                                    </p>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <h4>Quét mã</h4>
                                    <img style="width:80%" src="@item.imgQR" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- Section Tittle -->
            <div class="col-lg-12 col-md-12">
                <div class="section-tittle">
                    <h2 style="text-align: center;"><a href="https://www.bigchaindb.com/features/" target="_blank">Điểm nổi bật của BigchainDB</a></h2>
                </div>
                <p>
                    BigchainDB là sự kết hợp giữa công nghệ Blockchain (tính phi tập trung, tính bất biến và tài sản do chủ sở hữu kiểm soát)
                    với cơ sở dữ liệu (tốc độ giao dịch cao, độ trễ thấp, lập chỉ mục và truy vấn dữ liệu có cấu trúc).
                </p>
            </div>
            <!-- Section caption -->
            <div class="row">
                <div class="col-12">
                    <table style="overflow:unset" class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Blockchain điển hình</th>
                                <th>Cơ sở dữ liệu phân tán điển hình</th>
                                <th>BigchainDB</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tính phi tập trung</td>
                                <td>✓</td>
                                <td> </td>
                                <td>✓</td>
                            </tr>
                            <tr>
                                <td>Byzantine Fault Tolerant</td>
                                <td>✓</td>
                                <td> </td>
                                <td>✓</td>
                            </tr>
                            <tr>
                                <td>Tính bất biến</td>
                                <td>✓</td>
                                <td> </td>
                                <td>✓</td>
                            </tr>
                            <tr>
                                <td>Tài sản do chủ sở hữu kiểm soát</td>
                                <td>✓</td>
                                <td> </td>
                                <td>✓</td>
                            </tr>
                            <tr>
                                <td>Tốc độ giao dịch cao</td>
                                <td> </td>
                                <td>✓</td>
                                <td>✓</td>
                            </tr>
                            <tr>
                                <td> Độ trễ thấp</td>
                                <td> </td>
                                <td>✓</td>
                                <td>✓</td>
                            </tr>
                            <tr>
                                <td>Lập chỉ mục &amp; truy vấn dữ   liệu có cấu trúc</td>
                                <td> </td>
                                <td>✓</td>
                                <td>✓</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Mô hình chuỗi cung ứng nông sản -->
<section class="best-features-area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-12">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-tittle">
                            <h2 style="text-align: center;">Sơ đồ chuỗi cung ứng nông sản</h2>
                        </div>
                        <p>
                            Ở giai đoạn đầu của chuỗi cung ứng, đối tượng chính là các loại hạt giống và cây trồng, chưa có khả năng thu hoạch
                            ngay tại thời điểm đó. Trải qua thời gian chăm sóc, chúng trở thành nông sản bán thành phẩm. Để đến với tay người tiêu
                            dùng, nông sản cần phải trải qua các giai đoạn như thu hoạch, vận chuyển và buôn bán mới chính thức trở thành sản phẩm
                            tiêu dùng. Toàn bộ quá trình trong chuỗi cung ứng được ghi lại và tổ chức theo từng giai đoạn, do đó, khách hàng, chính
                            là người tiêu dùng có thể nắm bắt được thông tin đó bằng việc quét mã được dán trên nông sản.
                        </p>
                    </div>
                </div>
                <!-- Section caption -->
                <img src="~/img/service/supply-chain.png" alt="supply chain" style="width: 100%; ">
            </div>
        </div>
    </div>
</section>

<!-- Sơ đồ use case -->
<section class="best-features-area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-12">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-tittle">
                            <h2 style="text-align: center;">Sơ đồ Use Case hệ thống</h2>
                        </div>
                        <p>
                            Use case mô tả sự tương tác đặc trưng giữa người dùng bên ngoài (actor) và hệ thống. Nó thể hiện ứng xử của hệ thống
                            đối với bên ngoài, trong một hoàn cảnh nhất định, xét từ quan điểm của người sử dụng. Trong các mối quan hệ giữa các
                            use case có mối quan hệ include mang tính bắt buộc và extend mang tính tùy chọn. Ngoài ra còn có mỗi quan hệ generalization
                            thể hiện quan hệ cha con giữa các use case với nhau.
                        </p>
                    </div>
                </div>
                <!-- Section caption -->
                <img src="~/img/service/use-case-diagram.png" alt="use case diagram" style="width: 100%; ">
            </div>
        </div>
    </div>
</section>

<!-- Mô hình hệ thống -->
<section class="best-features-area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-12">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-tittle">
                            <h2 style="text-align: center;">Mô hình hoạt động hệ thống</h2>
                        </div>
                        <p>
                            Hệ thống bao gồm 3 khối chức năng, đó là khối lưu trữ dữ liệu BigchainDB, khối quản lý nông sản trên nền tảng
                            web và khối quét mã trên nền tảng di động. Hình sau minh hoạ trực quan mối liên hệ giữa các khối với nhau.
                        </p>
                    </div>
                </div>
                <!-- Section caption -->
                <img src="~/img/service/model.jpg" alt="use case diagram" style="width: 100%; ">
            </div>
        </div>
    </div>
</section>

<!-- Mô hình mạng BigchainDB -->
<section class="best-features-area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-12">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-tittle">
                            <h2 style="text-align: center;">Mạng BigchainDB</h2>
                        </div>
                    </div>
                </div>
                <div style="text-align: center; float:none" class="col-12">
                    <div class="col-lg-2 col-md-12"></div>
                    <img class="col-lg-8 col-md-12" src="~/img/service/bdb.png" alt="BigchainDB" style="width: 100%;">
                </div>
                <!-- Section caption -->
            </div>
        </div>
    </div>
</section>

<!-- Website và di động -->
<section class="best-features-area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-12">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-tittle">
                            <h2 style="text-align: center;">Ứng dụng web và di động</h2>
                        </div>
                        <p>
                            Trong hệ thống này sử dụng công nghệ ASP.NET MVC trong việc phát triển ứng dụng nền web và công nghệ Ionic trong việc
                            xây dựng ứng dụng di động. Website là nơi trực quan để quản trị viên và thành viên có thể quản lý các nông sản, còn ứng
                            dụng trên trên di động là ứng dụng quét mã QR giúp người dùng có thể truy xuất thông tin nguồn gốc nông sản
                        </p>
                    </div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-lg-6 col-md-6">
                        <div class="section-tittle">
                            <h4 style="text-align: center;">Ứng dụng web</h4>
                        </div>
                        <a href="https://dotnet.microsoft.com/apps/aspnet/mvc" target="_blank"><img src="~/img/service/mvc.png" alt="mvc asp.net" /></a>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="section-tittle">
                            <h4 style="text-align: center;">Ứng dụng di động</h4>
                        </div>
                        <a href="https://ionicframework.com/" target="_blank"><img src="~/img/service/ionic.png" alt="ionic" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>