
@{
    ViewBag.Title = "ProductDemo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Những nơi đã áp dụng -->
<section class="best-features-area" style="bottom:20px;">
    <div class="container">

        <div class="col-12" style="top: 100px;">
            <div class="section-tittle">
                <h2 style="text-align: center;">Một số sản phẩm đang ứng dụng thử nghiệm</h2>
            </div>
            <div>
                <div style="overflow-x:auto;">
                    <table style="overflow:unset" class="table table-bordered">
                        <thead style="text-transform: uppercase; text-align: center">
                            <tr>
                                <th>Hình ảnh</th>
                                <th style="width:200px">Tên sản phảm</th>
                                <th>Mô tả</th>
                                <th>Quét mã</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.dhdl)
                            {
                                if (@item.imgQR == null)
                                {
                                    <tr>
                                        <td><img style="width:200px" src="@item.imgPath" /></td>
                                        <td style="text-transform: uppercase;"><h5>@item.nameProduct</h5></td>
                                        <td>
                                            <p>
                                                @item.details
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td><img style="width:200px" src="@item.imgPath" /></td>
                                        <td style="text-transform: uppercase;"><h5>@item.nameProduct</h5></td>
                                        <td>
                                            <p>
                                                @item.details
                                            </p>
                                        </td>
                                        <td><img style="width:200px" src="@item.imgQR" /></td>
                                    </tr>

                                }

                            }
                            @foreach (var item in ViewBag.langfarm)
                            {
                                if (@item.imgQR == null)
                                {
                                    <tr>
                                        <td><img style="width:200px" src="@item.imgPath" /></td>
                                        <td style="text-transform: uppercase;"><h5>@item.nameProduct</h5></td>
                                        <td>
                                            <p>
                                                @item.details
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td><img style="width:200px" src="@item.imgPath" /></td>
                                        <td style="text-transform: uppercase;"><h5>@item.nameProduct</h5></td>
                                        <td>
                                            <p>
                                                @item.details
                                            </p>
                                        </td>
                                        <td><img style="width:200px" src="@item.imgQR" /></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


