
@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/AdminProduct.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    @*<h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>*@
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            @if (ViewBag.Roles == 1)
            {
                <h1 class="h3 mb-2 text-gray-800" style="text-align:center">Nhà sản xuất</h1>
            }
            else if (ViewBag.Roles == 2)
            {
                <h1 class="h3 mb-2 text-gray-800" style="text-align:center">Nhà vận chuyển</h1>
            }
            else if (ViewBag.Roles == 3)
            {
                <h1 class="h3 mb-2 text-gray-800" style="text-align:center">Nhà buôn bán</h1>
            }
        </div>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Chi tiết</th>
                            @if (ViewBag.Roles == 1)
                            {
                                <th>Ngày trồng</th>
                                <th>Ngày thu hoạch</th>
                            }
                            else if (ViewBag.Roles == 2)
                            {
                                <th>Số lượng</th>
                                <th>Ngày nhận</th>
                                <th>Ngày chuyển xong</th>
                            }
                            else if (ViewBag.Roles == 3)
                            {
                                <th>Số lượng</th>
                                <th>Ngày mua</th>
                                <th>Ngày nhận</th>
                            }
                            <th>Trạng thái chờ duyệt</th>
                            @if (ViewBag.Roles == 2)
                            {
                                <th>Trạng thái vận chuyển</th>
                            }
                            else
                            {
                                <th>Trạng thái mua bán</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (ViewBag.lst.Count > 0)
                            {
                                foreach (var item in ViewBag.lst)
                                {
                                    <tr>
                                        <td><a href="@Url.Action("Info","ProductPlanting")?IdProduct=@item.idProduct">@item.idProduct</a></td>
                                        <td>@item.nameProduct</td>
                                        <td>@item.details</td>
                                        @if (ViewBag.Roles != 1)
                                        {
                                            <td>@item.numberhandling kg</td>
                                        }

                                        <td>@item.dateCreated.ToString("dd/MM/yyyy")</td>
                                        @if (@item.dateReview != null)
                                        {
                                            <td>@item.dateReview.ToString("dd/MM/yyyy")</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        @if (item.IsUpBD == 1)
                                        {
                                            <td style="color:forestgreen"><b>Đã duyệt</b></td>
                                        }
                                        else
                                        {
                                            <td style="color:orangered"><b>Đang chờ</b></td>
                                        }
                                        @if (item.idRole == 1)
                                        {
                                            if (item.numberhandling > 0)
                                            {
                                                <td style="color:red"><b>Đang chờ mua (số lượng còn: @item.numberhandling kg)</b></td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <button type="button" class="btn btn-primary">
                                                        Đã bán hết
                                                    </button>
                                                </td>
                                            }
                                        }
                                        @if (item.idRole == 2)
                                        {
                                            if (item.checkBuy == 2)
                                            {
                                                <td style="color:darkcyan"><b>Đã hoàn thành</b></td>
                                            }
                                        }
                                        @if (item.idRole == 3)
                                        {
                                            if (item.checkBuy == 1)
                                            {
                                                <td style="color:green">
                                                    Đang chờ vận chuyển
                                                </td>
                                            }
                                            else if (item.checkBuy == 2)
                                            {
                                                <td style="color:deepskyblue">
                                                    Đã hoàn thành mua bán
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <button type="button" class="btn btn-info"
                                                            onclick="openModal('@item.idProduct','@item.nameProduct','@item.nameOfUser','@item.numberhandling','@item.idProductDetail')">
                                                        Chọn nhà vận chuyển
                                                    </button>
                                                </td>
                                            }
                                        }
                                        @*else if (item.checkBuy == 2)
                                            {
                                                if (item.idRole == 2)
                                                {
                                                    <td style="color:deepskyblue"><b>Đã hoàn thành</b></td>
                                                }
                                                else
                                                {
                                                    <td style="color:deepskyblue"><b>Đã mua bán thành công</b></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="color:red"><b>Đang chờ mua</b></td>
                                            }*@
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function openModal(idProduct, nameProduct, nameOfUser, numberhandling, idProductDetail) {
            $("#idProduct").val(idProduct);
            $("#nameProduct").val(nameProduct);
            $("#nameOfUser").val(nameOfUser);
            $("#numberhandling").val(numberhandling);
            $("#idUpdate").val(idProductDetail);
            $("#dateCreate").val("");
            $("#dateReview").val("");
            $("#myModal").modal("show");
        }
    </script>
</div>
<!-- /.container-fluid -->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm thông tin sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="frmInput">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input readonly id="idProduct" type="text" class="form-control" name="idProduct" placeholder="Id">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input readonly id="nameProduct" type="text" class="form-control" name="nameProduct" placeholder="Mã sản phẩm">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input readonly id="nameOfUser" type="text" class="form-control" name="nameUser" placeholder="Tên người dùng">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="detail" type="text" class="form-control" name="detail" placeholder="Mô tả">
                    </div>
                    @if (ViewBag.Roles == 1)
                    {
                        <div class="input-group">
                            <select id="idUser" style="height:35px" name="idUser" class="form-control">
                                <option selected=""> Chọn nhà vận chuyển</option>
                                @foreach (var item in ViewBag.lstTranfer)
                                {
                                    <option value="@item.username">@item.name</option>
                                }
                            </select>
                        </div>
                    }
                    @if (ViewBag.Roles == 2)
                    {
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="dateCreateMD" name="dateCreated" type="text" class="form-control" data-toggle="datepicker1" placeholder="Ngày nhận">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="dateReviewMD" name="dateReview" type="text" class="form-control" data-toggle="datepicker2" placeholder="Ngày chuyển xong">
                        </div>
                    }
                    @if (ViewBag.Roles == 3)
                    {
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input readonly id="numberhandling" type="text" class="form-control" name="numberTranfer" placeholder="Số lượng">
                        </div>
                        <div class="input-group" style="display:none">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input readonly id="idUpdate" type="text" class="form-control" name="idProductDetail" placeholder="ID">
                        </div>
                        <div class="input-group">
                            <select id="idUser" style="height:35px" name="idUser" class="form-control">
                                <option selected=""> Chọn nhà vận chuyển</option>
                                @foreach (var item in ViewBag.lstTranfer)
                                {
                                    <option value="@item.username">@item.name</option>
                                }
                            </select>
                        </div>
                    }
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="update()">Thêm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
            </div>
        </div>
        <script>
            function update() {
                //var dateCreated = $("$dateCreated").val();
                //var dateReview = $("dateReview").val();
                //if (dateCreated > dateReview)
                //    alert("Ngày tạo không được sau ngày xem");
                var fd = new FormData(document.getElementById("frmInput"));
                // fd.append('file', input.files[0]);
                $.ajax({
                    url: '/Product/InsertProductTranfer',
                    data: fd,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (data) {
                        if (data.Success == true) {
                            alert(data.Message);
                            document.location.href = "/Product/Manager";
                        }
                        else {
                            alert(data.Message);
                        }
                        //document.location.href = "/Product/Manager";
                    }
                });
            }
        </script>
    </div>
</div>
