
@{
    ViewBag.Title = "ProductPlanting";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="https://unpkg.com/bigchaindb-driver@4.0.0/dist/browser/bigchaindb-driver.window.min.js"></script>
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Thông tin</h1>
    @*<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>*@
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Chi tiết</th>
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ if (ViewBag.lstPlanting.Count > 0)
                            {
                                foreach (var item in ViewBag.lstPlanting)
                                {
                                    <tr>
                                        <td>@item.idProduct</td>
                                        <td>@item.details</td>
                                        <td>@item.dateBegin.ToString("dd/MM/yyyy")</td>
                                        <td>@item.dateEnd.ToString("dd/MM/yyyy")</td>
                                        <td>@item.dateCreated.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            @if (item.isUpBD == 0)
                                            {
                                                <button id="id-@item.id" class="btn btn-success"
                                                        onclick="sendToBigchainDB('@item.id','@item.idProduct','@item.idUser','@item.details','@item.dateBegin','@item.dateEnd','@item.dateCreated')">
                                                    Up BD
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-danger"> Đã Up DB</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function disableButton(id, disabled) {
            var theID = "id-" + id;
            if (disabled)
                $('#' + theID).attr("disabled", "disabled")
            else
                $('#' + theID).removeAttr("disabled");
        }
        function sendToBigchainDB(id, idProduct, idUser, details, dateBegin, dateEnd, dateCreated) {
            disableButton(id, true);

            // BigchainDB server instance (e.g. https://example.com/api/v1/)
            const API_PATH = '@System.Web.Configuration.WebConfigurationManager.AppSettings["linkBD"]'

            // Create a new keypair.
            const alice = new BigchainDB.Ed25519Keypair()

            // Construct a transaction payload
            const tx = BigchainDB.Transaction.makeCreateTransaction(
                // Define the asset to store, in this example it is the current temperature
                // (in Celsius) for the city of Berlin.
                {
                    id: id, idProduct: idProduct, idUser: idUser, details: details,
                    dateBegin: dateBegin, dateEnd: dateEnd, dateCreated: dateCreated,
                    isPlanting: true
                },

                // Metadata contains information about the transaction itself
                // (can be `null` if not needed)
                { maker: 'CTK40' },

                // A transaction needs an output
                [BigchainDB.Transaction.makeOutput(
                    BigchainDB.Transaction.makeEd25519Condition(alice.publicKey))
                ],
                alice.publicKey
            )

            // Sign the transaction with private keys
            const txSigned = BigchainDB.Transaction.signTransaction(tx, alice.privateKey)

            // Send the transaction off to BigchainDB
            let conn = new BigchainDB.Connection(API_PATH)
            var theID = id;
            conn.postTransactionCommit(txSigned)
                .then(res => {
                    console.log(res);
                    //const elem = document.getElementById('lastTransaction');
                    //elem.href = API_PATH + 'transactions/' + txSigned.id;
                    //elem.innerText = txSigned.id;
                    //console.log('Transaction', txSigned.id, 'accepted');
                    if (res != null) {
                        //console.log(res);
                        console.log(id);
                        isUpBD(id);
                    }
                });
        }
        function isUpBD(id) {
            var fd = '{"id":"' + id + '"}';
            $.ajax({
                url: '@Url.Action("UpBDPlanting","HomeAD")',
                data: fd,
                processData: false,
                contentType: 'application/json',
                type: 'POST',
                success: function (res) {
                    if (res.Success == true) {
                        var theID = "#id-" + id;
                        if ($(theID).hasClass("btn-success")) {
                            $(theID).removeClass("btn-success");
                            $(theID).addClass("btn-danger");
                            $(theID).html("Đã Up DB");
                            $(theID).attr("onclick", "");
                        }
                        alert(res.Message);
                    }
                    else {
                        alert(res.Message);
                    }
                    disableButton(id, false);
                }
            });
        }
    </script>
</div>

