@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Admin/css/js/functionController.js"></script>
<div class="container-fluid">
    <!-- Page Heading -->
    @*<h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>*@
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">Nhà cung cấp</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Tên</th>
                            <th>email</th>
                            <th>Địa chỉ</th>
                            <th>Điện thoại</th>
                            <th>Ngày sinh</th>
                            <th>Công ty</th>
                            <th>Kích hoạt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ if (ViewBag.lstUserBC.Count > 0)
                            {
                                foreach (var item in ViewBag.lstUserBC)
                                {
                                    <tr>
                                        <th>
                                            <a href="UserBCDetailsProduct?username=@item.username">
                                                @item.username
                                            </a>
                                        </th>
                                        <th>@item.name</th>
                                        <th>@item.email</th>
                                        <th>@item.adrs, @item.City, @item.Area</th>
                                        <th>@item.phone</th>
                                        <th>@item.birthday.ToString("dd/MM/yyyy")</th>
                                        <th>@item.company</th>
                                        @*<th>
                                                @if (item.dateUpdate != null)
                                                {
                                                    item.dateUpdate.ToString("dd/MM/yyyy");
                                                }
                                                else { }
                                            </th>*@
                                        <th>
                                            <button id="btn-@item.username" class="btn @(item.active == 1 ? "btn-success" : "btn-danger") " onclick="activeUser('@item.username',@item.active)">
                                                @(item.active == 1 ? "Đã kích hoạt" : "Kích hoạt")
                                            </button>
                                        </th>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>